<h1>Music Festival Data</h1>

<div class="container">

    <% if @result == "No information" %>
        <div class="error-message">
            <div class="error-header">Houston we have a problem!  It's not you it's us.</div>
            <div class="error-body">
                <div>Currently there is no information to display.</div>
                <div>Please refresh the page to try again.</div>
                <div>Note this message appears when API responds with an empty array.</div>
            </div>
        </div>
        <%# binding.pry %>
    <% elsif @result == 'Too many requests, throttling' %>
        <div class="error-message">
            <div class="error-header">Whoa there cowboy, that is way too many requests!</div>
            <div class="error-body">
                <div>This page is currenly being throttled.</div>
                <div>Please give it a moment and then refresh your page to try again.</div>
                <div>Note this message appears when API responds with a 429 code. </div>
            </div>
        </div>
        <%# binding.pry %>        
    <% else %>
        <% @record_labels_hash.each {|key, value| %> 
        <div class="container-border" >
            <div class="record-label"> <span> Record Label:</span> <%= key %> </div>
            
            <% value.each {|key, value| %> 
                <div class="band-details">
                    <div class="band"> <span>Band:</span> <%= key %>  </div>
                
                    <%  value.each do |item| %> 
                    <div class="music-festival">  - <%= item %> </div>
                
                    <% end %> 
                </div>
            <% } %> 
                
        </div>
        <% } %>
        
    <% end %>

</div>