<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Festival Data</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://www.energyaustralia.com.au/themes/custom/ea/favicon.ico">
</head>
<body>

  <%= yield %>

</body>
</html>