body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.record-label {
    padding: 10px 0 10px;
    background-color: rgba(223, 240, 216, 0.7);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #3c763d;
    text-align: center;
    font-size: 1.5rem;
}

span {
    font-weight: bold;
}

.band-details {
    background-color: #eee;
    padding-top: 10px;
    font-size: 1.2rem;
}

.band-details:last-of-type {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #eee;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.band {
    padding-left: 20px;
}

.music-festival {
    padding-left: 40px;
}

.container {
    width: 30%;
    margin: 0 auto;
}

.container-border {
    margin-bottom: 10px;
    border-radius: 6px;
}

.error-message div {
    padding-bottom: 10px;
}

.error-header {
    padding: 10px 0 10px;
    background-color: rgba(223, 240, 216, 0.7);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #3c763d;
    text-align: center;
    font-size: 1.5rem;
}

.error-body {
    background-color: #eee;
    padding: 10px 20px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.error-body:last-of-type {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #eee;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.error-body img {
    width: 50%;
    padding-left: 25%;
}

@media (max-width: 800px) {
    .container {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .container {
        width: 80%;
    }

    .record-label {
        font-size: 1.3rem;
    }

    .error-header {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 440px) {
    .record-label {
        font-size: 1rem;
    }

    .error-header{
        font-size: 1rem;
    }

    .band-details {
        font-size: 1rem;
    }

    .error-body {
        font-size: 1rem;
    }
}

@media (max-width: 300px) {
    .container {
        width: 90%;
    }
}